.custom-node {
  width: 150px;
  aspect-ratio: 6;

  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.error-node {
  animation: vibrate 0.1s 10;
  box-shadow: 1px 1px 1px rgb(225, 72, 72);
}

.custom-node-header {
  display: flex;
  flex-direction: row;
  height: 8px;
  background-color: #b2f0e3;
  color: rgb(0, 0, 0);
  padding: 1px;
  text-align: left;
  font-size: 6px;
  font-weight: bolder;
}
.custom-node-header img {
  margin-left: auto;
}

.custom-node-body {
  background-color: #f1f1f1;
  color: #333;
  padding: 3px;
  font-size: 9px;
  font-weight: bold;
  text-align: left;
}

.custom-handle1 {
  width: 0.5px;
  height: 0.5px;
  background: #0080ff;
}
.custom-handle2 {
  width: 0.5px;
  height: 0.5px;
  background: #1199ae;
}
.custom-handle-top {
  width: 0.5px;
  height: 0.5px;
  background: #df1812;

  top: 30%;
}
.custom-handle-bottom {
  width: 0.5px;
  height: 0.5px;
  background: #922c29;

  bottom: 30%;
  transform: translateY(60%);
}
