.custom-node {
  width: 150px;
  height: fit-content;

  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.error-node {
  animation: vibrate 0.1s ease-in-out 10;
  box-shadow: 1px 1px 1px rgb(225, 72, 72);
}

.custom-node-header {
  display: flex;
  flex-direction: row;
  height: 8px;
  background-color: #b2f0e3;
  color: rgb(0, 0, 0);
  padding: 1px;
  text-align: left;
  font-size: 6px;
  font-weight: bolder;
}
.custom-node-header img {
  margin-left: auto;
}

.custom-node-body {
  padding: 2px; /* Increased padding for better readability */
  font-size: 6px; /* Adjusted font size for better readability */
  font-weight: bold;
  text-align: left;
  word-wrap: break-word; /* Ensures that long words break and wrap to the next line */
  white-space: pre-wrap; /* Preserves whitespace and breaks lines as necessary */
  overflow-wrap: break-word; /* Breaks words to prevent overflow */
  overflow: hidden; /* Prevents overflowing content */
  max-width: 100%; /* Ensures the text stays within the container */
  box-sizing: border-box; /* Ensures padding is included in the total width/height */
}

.custom-handle1 {
  width: 0.5px;
  height: 0.5px;
  background: #0080ff;
}
.custom-handle2 {
  width: 0.5px;
  height: 0.5px;
  background: #1199ae;
}
.custom-handle-top {
  width: 0.5px;
  height: 0.5px;
  background: #df1812;

  top: 30%;
}
.custom-handle-bottom {
  width: 0.5px;
  height: 0.5px;
  background: #922c29;

  bottom: 30%;
  transform: translateY(60%);
}

.delete-button {
  background: none;
  border: none;
  color: rgb(240, 102, 102);
  font-size: 6px;
  cursor: pointer;
  margin-right: 2px;
  padding: 0px;
}

.delete-button:hover {
  color: rgb(87, 0, 0);
  transform: scale(1.05);
}

.tooltip {
  visibility: hidden;

  background-color: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  font-size: 7px;
  position: absolute;
  z-index: 2;
  padding: 1px;
  margin-left: -140px; /* Adjust this value to position the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.delete-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
